<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ asset('asset/css/register.css') }}">
</head>
<body>

</body>
</html>
<h1>ICI j'affiche tout mes articles</h1>
<section>

    {% for article in articlez %}
    <article>  {{ article.title }}
        <br>

    {{ article.description }}</article>
        <br>
        <br>
        <a href="{{ path('articles', {'id':article.id}) }}">voir l'article</a>
        <a href="{{ path('articleLike', {'id':article.id}) }}">note l'article</a>

{%  endfor %}
</section>